@import url(//db.onlinewebfonts.com/c/67680f2eb947c5cbd58b40961b4a61e9?family=Apple+SD+Gothic+Neo);

@media all and(min-width : 320px){
    
}

@media all and (min-width : 768px){
    .ToraLogin{
        width : 280px;
        height : 450px;
        border : solid red;
    }
    .ToraLogin input{
        width : 165px;
        height : 35px;
        padding-left : 20px;

        font-size : 1em;
    }
    .ToraLogin button{
        width : 185px;
        height : 35px;
        font-size : 1em;
    }
    .LoginTitle{
        font-size : 1em;
    }
    .LoginText p{
        font-size : 0.5em;
    }

}

@media all and (min-width : 1024px){
    .ToraLogin{
        width : 480px;
        height : 650px;
        border : solid blue;
    }
    .ToraLogin input{
        /*padding-left is for the focus of the input. the total width of input tag is 
        372 as the XD file described.
        */
        padding-left : 25px;
        width : 347px;

        height : 70px;

        font-size: 2em;
        
    }
    .ToraLogin button{
        width : 372px;
        height : 70px;
        font-size: 1.5em;

        padding-left : 25px;
    }
    .LoginTitle{
        font-size : 1.5em;
    }
    .LoginText p{
        font-size : 1em;
    }
}





.ToraLogin{
    margin : 0 auto ;
    background : #ffffff;
    border-radius: 30px;
    /* border-style: solid;
    border-color: red; */
    box-shadow: 10px 5px 15px 0.1px #a6a6a6;
}
#firstText{
    /*this is here because of making space on top of the "Email Address"
    if there are better way to fix them using margin or padding of the main frame(.ToraLogin),
    this can be deleted
    */

    padding-top: 80px; 
}
.ToraLogin input{
    border-radius: 50px;
    border-style: none;
    box-shadow: 15px 13px 30px 0.07px #a6a6a6;

    
    margin-top : -15px;
    /* margin-bottom: 15px; */
    margin-left : 54px;
    
}
.ToraLogin input:focus{
    outline : none;
}
.ToraLogin button{
    border-radius: 50px;
    border-style: none;
    background-color: #1C2239;
    color : white;

    /* font-size: 1.5em; */
    margin-top : 50px; /*visually, it looked like 60px, more documentation needed*/
    margin-left : 54px;
}
.ToraLogin button:focus{
    outline: none;
}

.LoginTitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left : 54px;
}

.LoginText{
    font-family: ;
    text-align: center;
    margin-top : 40px;
    font-size : 1.5em;
    text-decoration: underline;

}
