@import url(//db.onlinewebfonts.com/c/67680f2eb947c5cbd58b40961b4a61e9?family=Apple+SD+Gothic+Neo);

@font-face{
    font-family: AppleSDGothicNeoBold;
    src : url('../../fonts/AppleSDGothicNeoB.ttf')
}
@font-face{
    font-family: AppleSDGothicNeoSemiBold;
    src : url('../../fonts/AppleSDGothicNeoSB.ttf')
}
@font-face{
    font-family: AppleSDGothicNeoMedium;
    src : url('../../fonts/AppleSDGothicNeoM.ttf')
}
@font-face{
    font-family: AppleSDGotheNeoRegular;
    src : url('../../fonts/AppleSDGothicNeoR.ttf')
}
@font-face{
    font-family: AppleSDGothicNeoLight;
    src : url('../../fonts/AppleSDGothicNeoUL.ttf')
}
@font-face{
    font-family: AppleSDGothicNeoThin;
    src : url('../../fonts/AppleSDGothicNeoT.ttf')
}
@font-face{
    font-family: AppleSDGothicNeo;
    src : url();
}

.ToraLogin{
    width : 480px;
    height: 650px;

    margin : 0 auto ;

    background : #ffffff;
    border-radius: 30px;
    box-shadow: 10px 5px 15px 0.1px #a6a6a6;
}

.ToraLogin,.ToraLogin input, button{
    /* shadow */
    box-shadow: 25px 20px 30px -15px rgba(112,112,112,0.67);
}

#firstText{
    /*this is here because of making space on top of the "Email Address"
    if there are better way to fix them using margin or padding of the main frame(.ToraLogin),
    this can be deleted
    */
    padding-top: 80px; 
}

.ToraLogin input{
    width : 347px;
    height : 70px;
    
    margin-top : -15px;
    margin-left : 54px;
    padding-left : 25px;
    
    font-size : 1.5em;

    border-radius: 50px;
    border-style: none;
    
}
.ToraLogin input:focus{
    outline : none;
}

.ToraLogin button{
    width : 372px;
    height : 70px;

    margin-top : 50px; /*visually, it looked like 60px, more documentation needed*/
    margin-left : 54px;
    padding-left : 25px;

    font-family: 'AppleSDGothicNeoMedium';
    font-size : 1.5em;

    border-radius: 50px;
    border-style: none;
    background-color: #1C2239;
    color : white;

    /* font-size: 1.5em; */
   
}
.ToraLogin button:focus{
    outline: none;
}

.LoginTitle{
    font-family: 'AppleSDGothicNeoBold';
    font-size : 1.5em;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    margin-left : 54px;
}

.LoginText p{
    color : #1C2239;
    margin-top : 40px;

    font-family: 'AppleSDGothicNeoSemiBold';
    font-size : 1.5em;
    text-align: center;
    text-decoration: underline;

}
@media all and (max-width : 768px){
    .ToraLogin{
        width : 280px;
        height : 450px;
    }
    .ToraLogin{
        /* shadow */
        box-shadow: 25px 20px 30px -20px rgba(112,112,112,0.67);
    }
    .ToraLogin input, button{
        box-shadow: 5px 10px 15px -3px rgba(112,112,112,0.67);
    }
    .ToraLogin input{
        width : 165px;
        height : 35px;

        padding-left : 20px;

        font-size : 1em;
    }
    .ToraLogin button{
        width : 185px;
        height : 35px;

        font-size : 1em;
        text-align: center;
    }
    .LoginTitle{
        font-size : 1em;
    }
    .LoginText p{
        margin-top : 20px;

        font-size : 0.7em;
    }
}

